*{
    padding:0;
    margin:0
}

/*---------------------------------------MENU---------------------------------------------*/
div#culture{
    background: url(imgs/se) repeat-x bottom;
    background-position:top;
    height:50px;
    text-align:center;
    padding:2%;
}

div#culture a{
    font-size:30px;
    color:yellow;
    margin: 1%;
    font-weight: bold;
    font-family: satisfy;
    text-decoration:none;
    padding:1%;
    background-position: center;
    background-size:100%;
    border-radius: 20px;
    max-width: 400px;
    
}

a#visite{
    background-image:url(../imgs/culture_et_loisir/louvre1.jpg); 
}

a#balades{
    background-image:url(../imgs/culture_et_loisir/louvre2.jpg);
}

a#activite{
    background-image:url(../imgs/culture_et_loisir/louvre3.jpg);
}

div#culture a:hover{
    color:blue;
}

/*----------------------------MAIN-----------------------------*/
.titre{
    font-family: satisfy;
    font-size: 2.5em;
    margin-left:2%;
}

p{
    padding:0.5%;
    margin: 0.5%;
    text-align: justify;
}

.photo{
    width: 29%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-top:1%;
}
img{
    width: 100%;
}

img.details{
    border: solid 1px blue;
    max-width: 50px;
    max-height: 50px;
}

article .texte{
    width: 69%;
}

article .gauche{
    float: left;
}

article .droite{
    float: right;
}

article .clearfix{
    clear:both;
}

details {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  background:#C4A550;
  font-weight: bold;
  margin-bottom: 1%;
}

summary{
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before { /*redimensionner l'image*/
  background: url(../imgs/culture_et_loisir/picto-info.png);
  height:50px;
  width: 50px;
  content:" ";
}

fieldset{
  border:0 none;
  text-indent:50px;
}


/*---------------------------------------------PIED DE PAGE--------------------------------*/


